<div class="container">
  <% if @places_suppliers == [] %>
    <div>
      <h3>Nous sommes désolés.<br>Aucun résultat ne correspond à votre recherche</h3>
      <%= link_to "Relancer une recherche", new_bundle_path, class: "btn-validate" %>
    </div>
  <% else %>
    <div class="thread">
      <div class="b-box b-box--dots">
        <span><%= link_to "", new_bundle_path, class: "b-box--dots__item is-active" %></span>
        <span><%= link_to "", location_bundle_path(@bundle), class: "b-box--dots__item is-active" %></span>
        <span class="b-box--dots__item"></span>
        <span class="b-box--dots__item"></span>
        <span class="b-box--dots__item big">
          <span data-amount=<%= @bundle.amount %> id="amount">
            <%= humanized_money(@bundle.amount) %>
          </span>
          €
        </span>


      </div>
      <div class="list-items">
        <div class="item">Recherche</div>
        <div class="item">Lieu</div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>

    <div class="results-container">
      <div class="places-content">
  <!--       <%# @places_suppliers.each do |supplier| %>
          <%#= cl_image_tag supplier.images.first.photo, width: 700, crop: :fit, class: "places-images supplier-photo #{"hidden" unless @places_suppliers.first == supplier}", id: "supplier-photo-#{supplier.id}" %>
        <%# end %> -->
  <!-- Trying carrousel -->
        <% @places_suppliers.each do |supplier| %>
          <div id="supplier-photo-<%= supplier.id %>" class="supplier-photo <%= "hidden" unless @places_suppliers.first == supplier %> ">
            <div id="carousel-supllier-<%= supplier.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                  <% supplier.images.each_with_index do |_image, index| %>
                    <li data-target="#carousel-supllier-<%= supplier.id %>" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                  <% end %>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                  <% supplier.images.each_with_index do |image, index| %>
                    <div class="item<%= ' active' if index == 0 %>">
                      <%= cl_image_tag image.photo, width: 500, crop: :fit, class: "places-images" %>
                    </div>
                  <% end %>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-supllier-<%= supplier.id %>" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-supllier-<%= supplier.id %>" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        <% end %>

  <!-- Carousel -->
        <div class="places-details">
          <h3>NOM DE LA PRESTATION</h3>
          <%= link_to "+ Détails", "", class: "card-details" %>
        </div>
      </div>

      <div class="second-column">
        <div class="map-container">
          <div id="map" data-markers="<%= @markers.to_json %>"></div>
          <div>
            <%= form_tag bundle_bundle_lines_path(@bundle), method: :post, class: "form-inline text-center" do %>
              <%= hidden_field_tag :supplier_id, @places_suppliers.first.id %>
              <%= button_tag class:'btn-validate', id: 'lock', type: "submit" do %>
                <i class="fas fa-lock-open"></i>
                <span>Réservez</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
