<div class="container">
  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item big">0 EUR</span>
  </div>

  <div class="list-items">
    <div class="item">Recherche</div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <%= form_tag bundles_path do %>
    <%= text_field_tag :period, params[:period], class: "form-control styled-form datepicker start_date", placeholder: "Quand ?" %>
    <%= text_field_tag :ends_on, params[:ends_on], class: "form-control styled-form datepicker end_date", placeholder: "Jusqu'au..." %>
    <%= text_field_tag :where, params[:where], class: "form-control styled-form", placeholder: "Oú ?" %>
    <%= text_field_tag :capacity, params[:capacity], class: "form-control styled-form", placeholder: "Nombre d'invités" %>
    <%= text_field_tag :budget, params[:budget], class: "form-control styled-form", placeholder: "Budget" %>

    <div class="service-cards">

    <%= check_box_tag "categories[]", :place, checked=false, id: :categories_place, class: "categories" %>
    <label for="categories_place">
       <div class="service-card not-selected" id="location">
        <div>
          <%= image_tag 'wedding-location.png', class:'big-picture' %>
          <h4>Lieu</h4>
        </div>
      </div>

      <div class="service-card selected" id="location">
        <div>
          A bien ete ajoute
        </div>
      </div>
    </label>


    <%= check_box_tag "categories[]", :catering, checked=false %>

     <div class="service-card" id="food">
        <div>
          <%= image_tag 'food.png', class:'big-picture' %>
          <h4>Traiteur</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :music, checked=false %>

     <div class="service-card" id="music">
        <div>
          <%= image_tag 'music.png', class:'big-picture' %>
          <h4>Musique</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :flower, checked=false %>

      <div class="service-card" id="flower">
        <div>
          <%= image_tag 'flower.png', class:'big-picture' %>
          <h4>Fleuriste</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :photograph, checked=false %>

     <div class="service-card" id="photo">
        <div>
          <%= image_tag 'photo.png', class:'big-picture' %>
          <h4>Photographe</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :entertainment, checked=false %>

     <div class="service-card" id="animation">
        <div>
          <%= image_tag 'animation.png', class:'big-picture' %>
          <h4>Animations</h4>
        </div>
      </div>
    </div>


      <div>
        <%= button_tag class:'btn-validate btn-search', type: "submit" do %>
        <span>Commencer</span>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
