<div class="container">
  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item big">0 EUR</span>
  </div>

  <div class="list-items">
    <div class="item">Recherche</div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <%= form_tag bundles_path do %>
    <%= text_field_tag :period, params[:period], class: "form-control styled-form datepicker start_date", placeholder: "Quand ?" %>
    <%= hidden_field_tag :ends_on, params[:ends_on], class: "form-control styled-form datepicker end_date", placeholder: "Jusqu'au..." %>
    <%= text_field_tag :where, params[:where], class: "form-control styled-form", placeholder: "Oú ?" %>
    <%= text_field_tag :capacity, params[:capacity], class: "form-control styled-form", placeholder: "Nombre d'invités" %>
    <%= text_field_tag :budget, params[:budget], class: "form-control styled-form", placeholder: "Budget" %>

    <div class="service-cards">

    <%= check_box_tag "categories[]", :lieu, checked=false %>
       <div class="service-card" id="location">
        <div>
          <%= image_tag 'lieu.png', class:'big-picture' %>
          <h4>Lieu</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :traiteur, checked=false %>

     <div class="service-card" id="food">
        <div>
          <%= image_tag 'traiteur.png', class:'big-picture' %>
          <h4>Traiteur</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :musique, checked=false %>

     <div class="service-card" id="music">
        <div>
          <%= image_tag 'musique.png', class:'big-picture' %>
          <h4>Musique</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :fleuriste, checked=false %>

      <div class="service-card" id="flower">
        <div>
          <%= image_tag 'fleuriste.png', class:'big-picture' %>
          <h4>Fleuriste</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :photographe, checked=false %>

     <div class="service-card" id="photo">
        <div>
          <%= image_tag 'photographe.png', class:'big-picture' %>
          <h4>Photographe</h4>
        </div>
      </div>

    <%= check_box_tag "categories[]", :animations, checked=false %>

     <div class="service-card" id="animation">
        <div>
          <%= image_tag 'animations.png', class:'big-picture' %>
          <h4>Animations</h4>
        </div>
      </div>
    </div>


      <div>
        <%= button_tag class:'btn-validate btn-search', type: "submit" do %>
        <span>Commencer</span>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
