<div class="container">
  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item big">Total Price</span>
  </div>

  <div class="list-items">
    <div class="item">Recherche</div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>

  <%= form_tag bundles_path do %>
    <%= text_field_tag :starts_on, params[:starts_on], class: "form-control", placeholder: "Du..." %>
    <%= text_field_tag :ends_on, params[:ends_on], class: "form-control", placeholder: "Jusqu'au" %>
    <%= text_field_tag :where, params[:where], class: "form-control", placeholder: "Oú" %>
    <%= text_field_tag :capacity, params[:capacity], class: "form-control", placeholder: "Nombre d'invités" %>
    <%= text_field_tag :budget, params[:budget], class: "form-control", placeholder: "Budget" %>

    <%= check_box_tag "categories[]", :lieu, checked=false %>
      Lieu
    <%= check_box_tag "categories[]", :traiteur, checked=false %>
     Traiteur
    <%= check_box_tag "categories[]", :musique, checked=false %>
     Musique
    <%= check_box_tag "categories[]", :fleuriste, checked=false %>
     Fleurs et déco
    <%= check_box_tag "categories[]", :photographe, checked=false %>
     Photographe
    <%= check_box_tag "categories[]", :animations, checked=false %>
     Animation
    <div>
    <%= button_tag class:'btn-validate', type: "submit" do %>
      <span>Commencer</span>
      <% end %>
    </div>
  <% end %>
</div>
