<div class="container">
  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item"></span>
    <span class="b-box--dots__item big">0 EUR</span>
  </div>

  <div class="list-items">
    <div class="item">Recherche</div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <%= form_tag bundles_path do %>
    <%= text_field_tag :period, params[:period], class: "form-control styled-form datepicker start_date", placeholder: "Quand ?" %>
    <%= hidden_field_tag :ends_on, params[:ends_on], class: "form-control styled-form datepicker end_date", placeholder: "Jusqu'au..." %>
    <%= text_field_tag :where, params[:where], class: "form-control styled-form", placeholder: "Oú ?" %>
    <%= text_field_tag :capacity, params[:capacity], class: "form-control styled-form", placeholder: "Nombre d'invités" %>
    <%= text_field_tag :budget, params[:budget], class: "form-control styled-form", placeholder: "Budget" %>

    <div class="service-cards">
      <%= check_box_tag "categories[]", :place, checked=false, id: :categories_place, class: "categories" %>
      <label for="categories_place" class="categories_place" id='location' >
        <div class="service-card not-selected label-handle" >
          <div>
            <%= image_tag 'wedding-location.png', class:'big-picture' %>
            <h4>Lieu</h4>
          </div>
        </div>
        <div class="service-card chosen-service selected hidden categories_place label-handle" id="location">
          <div>
            <i class="far fa-check-circle"></i>
            <h4>Lieu ajouté à votre liste service.</h4>
          </div>
        </div>
    </label>


      <%= check_box_tag "categories[]", :catering, checked=false, id: :categories_catering, class: "categories" %>
      <label for="categories_catering">
        <div class="service-card not-selected label-handle" id="food">
          <div>
            <%= image_tag 'food.png', class:'big-picture' %>
            <h4>Traiteur</h4>
          </div>
        </div>
        <div class="service-card chosen-service selected hidden label-handle" id="food">
          <div>
            <i class="far fa-check-circle"></i>
            <h4>Traiteur ajouté à votre liste service.</h4>
          </div>
        </div>
      </label>




    <%= check_box_tag "categories[]", :music, checked=false, id: :categories_music, class: "categories" %>
    <label for="categories_music">
      <div class="service-card not-selected label-handle" id="music">
        <div>
          <%= image_tag 'music.png', class:'big-picture' %>
          <h4>Musique</h4>
        </div>
      </div>
      <div class="chosen-service selected hidden label-handle" id="music">
        <div>
          <i class="far fa-check-circle"></i>
          <h4>Musique ajouté à votre liste service.</h4>
        </div>
      </div>
    </label>

    <%= check_box_tag "categories[]", :flower, checked=false, id: :categories_flower, class: "categories" %>
    <label for="categories_flower">
      <div class="service-card not-selected label-handle" id="flower">
        <div>
          <%= image_tag 'flower.png', class:'big-picture' %>
          <h4>Fleuriste</h4>
        </div>
      </div>
      <div class="chosen-service selected hidden label-handle" id="flower">
        <div>
          <i class="far fa-check-circle"></i>
          <h4>Fleuriste ajouté à votre liste service.</h4>
        </div>
      </div>
    </label>

    <%= check_box_tag "categories[]", :photograph, checked=false, id: :categories_photograph, class: "categories" %>
    <label for="categories_photograph">
      <div class="service-card not-selected label-handle" id="photo">
        <div>
          <%= image_tag 'photo.png', class:'big-picture' %>
          <h4>Photographe</h4>
        </div>
      </div>
      <div class="chosen-service selected hidden label-handle" id="photo">
        <div>
          <i class="far fa-check-circle"></i>
          <h4>Photographe ajouté à votre liste service.</h4>
        </div>
      </div>
    </label>


    <%= check_box_tag "categories[]", :entertainment, checked=false, id: :categories_entertainment, class: "categories" %>
      <label for="categories_entertainment">
        <div class="service-card not-selected label-handle" id="animation">
          <div>
          <%= image_tag 'animation.png', class:'big-picture' %>
          <h4>Animations</h4>
          </div>
        </div>
        <div class="chosen-service selected hidden label-handle" id="animation">
          <div>
            <i class="far fa-check-circle"></i>
            <h4>Animations ajoutées à votre liste service.</h4>
          </div>
        </div>
      </label>
    </div>

      <div>
        <%= button_tag class:'btn-validate btn-search', type: "submit" do %>
        <span>Commencer</span>
        <% end %>
      </div>
      <% end %>
    </div>
</div>
