<div class="container">

  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item big">Total Price</span>
  </div>

  <div class="list-items">
    <div class="item-last">Recherche</div>
    <div class="item-last">Lieu</div>
    <div class="item-last">Services</div>
    <div class="item-last">Récapitulatif</div>
  </div>


<div class="row">
    <% @bundle.bundle_lines.each do |bundle_line| %>

    <div class="col-xs-12">
      <div class="list-element">

        <% if bundle_line.supplier.service.category == "lieu" %>
          <div class="list-image"><%= image_tag 'lieu.png', class:'small-picture' %></div>
        <% elsif bundle_line.supplier.service.category == "animations"%>
          <div class="list-image"><%= image_tag 'animations.png', class:'small-picture' %></div>
        <% elsif bundle_line.supplier.service.category == "traiteur"%>
        <div class="list-image"><%= image_tag 'traiteur.png', class:'small-picture' %></div>
        <% elsif bundle_line.supplier.service.category == "musique"%>
         <div class="list-image"><%= image_tag 'musique.png', class:'small-picture' %></div>
        <% elsif bundle_line.supplier.service.category == "photographe"%>
        <div class="list-image"><%= image_tag 'photographe.png', class:'small-picture' %></div>
        <% elsif bundle_line.supplier.service.category == "fleuriste"%>
        <div class="list-image"><%= image_tag 'fleuriste.png', class:'small-picture' %></div>
        <% end %>


        <div class="list-title"><h3><%= bundle_line.supplier.service_name  %></h3></div>
        <div class="price">
          <div><h5>Prix</h5></div>
          <div><h4> <%=bundle_line.supplier.price.to_i %> <i class="fas fa-euro-sign"></i></h4></div>
        </div>
        <div class="angle"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>

  <% end %>
</div>


