<h1>Bundles#show</h1>
<p>Find me in app/views/bundles/show.html.erb</p>

<div class="container">

  <div class="b-box b-box--dots">
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item is-active"></span>
    <span class="b-box--dots__item big">Total Price</span>
  </div>

  <div class="list-items">
    <div class="item-last">Recherche</div>
    <div class="item-last">Lieu</div>
    <div class="item-last">Services</div>
    <div class="item-last">Récapitulatif</div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="list-element first">
        <div class="list-image"><%= image_tag 'lieu.png', class:'small-picture' %></div>
        <div class="list-title"><h3>Domaine de Normandoux</h3></div>
        <div class="price">
          <div><h5>Prix</h5></div>
          <div><h4>4000 <i class="fas fa-euro-sign"></i></h4></div>
        </div>
        <div class="angle"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="active-element">
        <div class="list-image"><%= image_tag 'traiteur.png', class:'small-picture' %></div>
        <div class="list-title"><h3>Charles Traiteur</h3></div>
        <div class="price">
          <div><h5>Prix</h5></div>
          <div><h4>2200 <i class="fas fa-euro-sign"></i></h4></div>
        </div>
        <div class="angle"><i class="fas fa-angle-down"></i></div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="list-element">
        <div class="list-image"><%= image_tag 'musique.png', class:'small-picture' %></div>
        <div class="list-title"><h3>Music Event Agency</h3></div>
        <div class="price">
          <div><h5>Prix</h5></div>
          <div><h4>1000 <i class="fas fa-euro-sign"></i></h4></div>
        </div>
        <div class="angle"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="list-element">
        <div class="list-image"><%= image_tag 'photographe.png', class:'small-picture' %></div>
        <div class="list-title"><h3>Pantan Photographies</h3></div>
        <div class="price">
          <div><h5>Prix</h5></div>
          <div><h4>740 <i class="fas fa-euro-sign"></i></h4></div>
        </div>
        <div class="angle"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
      <div class="col-xs-12">
        <div class="list-element">
          <div class="list-image"><%= image_tag 'fleuriste.png', class:'small-picture' %></div>
          <div class="list-title"><h3>Bergamotte</h3></div>
          <div class="price">
            <div><h5>Prix</h5></div>
            <div><h4>670 <i class="fas fa-euro-sign"></i></h4></div>
          </div>
          <div class="angle"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="list-element last">
          <div class="list-image"><%= image_tag 'animations.png', class:'small-picture' %></div>
          <div class="list-title"><h3>Tom le magicien</h3></div>
          <div class="price">
            <div><h5>Prix</h5></div>
            <div><h4>1150 <i class="fas fa-euro-sign"></i></h4></div>
          </div>
          <div class="angle"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div>

</div>
